* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", Arial, sans-serif;
}

.hidden {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

@import "_variables.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_feedback.scss";
@import "_main.scss";
@import "_product.scss";


